doctype html
head(itemscope itemtype="http://schema.org/WPHeader")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(itemprop="description", name='description', content='Автоматизированная платформа кредитования и крауд-инвестиций')
    meta(itemprop="author" name='author', content='Удалтон инвестиции')
    meta(itemprop="keywords" name='keywords', content='инвестиционная платформа,' +
    ' краудфандинг,' +
    ' краудлендинг,' +
    ' краудлэндинг,' +
    ' crowdfunding,' +
    ' crowdlending,' +
    ' кредит для бизнеса,' +
    ' кредит для малого бизнеса,' +
    ' кредит на развитие бизнеса,' +
    ' банки бизнес кредит,' +
    ' кредит на открытие бизнеса,' +
    ' кредит на бизнес с нуля,' +
    ' кредит под бизнес,' +
    ' дать в долг с процентами,' +
    ' инвестированный,' +
    ' инвестировать,' +
    ' куда инвестировать,' +
    ' инвестировать средства,' +
    ' инвестировать капитал,' +
    ' стоит ли инвестировать,' +
    ' куда инвестировать в 2022')
    title(itemprop="headline") Удалтон / Документы
    script(src='../assets/dist/main.js')
    link(href='assets/features.css', rel='stylesheet')
    include components/metric
main
    include components/menu
    .banner-short.text-white
        .container.px-4.py-5.z9
    .light-block-long
        .light-block-long2
            .light-block3.px-4
                .container.py-5
                    .row
                        .col-lg-6
                            h1.fw-bold.lh-1.mb-3.pb-2(style='border-bottom: 1px solid #cccccc;font-size:2rem;') Действующие документы
                            .link-block
                                a(href="documents/list_izm4.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Лист изменений правил инвестиционной платформы (редакция 4)
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/info_operator.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Информация об операторе инвестиционной платформы и о его деятельности
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/pravila.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Правила инвестиционной платформы (4 редакция)
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/actions.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Порядок действий, необходимых для присоединения к договору об оказании услуг по привлечению инвестиций, к договору об оказании услуг по содействию в инвестировании, и порядок действий, необходимых для инвестирования с использованием инвестиционной платформы
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/structure.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Сведения о структуре и персональном составе органов управления
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/actions_information.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Информацию о действиях, которые могут быть предприняты инвестором в случае неисполнения обязательств лицом, привлекающим инвестиции
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/siteworks.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Режим работы сайта
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/recovery.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Срок восстановления функционирования инвестиционной платформы в случае нарушения ее функционирования
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/qualified.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Информация о том, является ли признание оператором инвестиционной платформы гражданина квалифицированным инвестором необходимым условием для оказания ему услуг по содействию в инвестировании
                                .sub опубликовано 15.04.2022 г.
                        .col-lg-6
                            .link-block
                                a(href="documents/conflict.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Информация о выявленных конфликтах интересов и о принятых мерах
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/info_operator.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Раскрытие информации об операторе
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/percent.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Сведения о лицах, имеющих право распоряжаться не менее чем 10 процентами голосов, приходящихся на голосующие акции (доли)
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/control.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Сведения о лицах, контролирующих оператора инвестиционной платформы
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/ustav.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Устав оператора инвестиционной платформы
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/tarif.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Тарифы, сведения о видах, размерах и сроках взимания платы за услуги оператора
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/personal_politics.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Политика обработки персональных данных
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/conflict_politics.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Политика по управлению конфликтами интересов
                                .sub опубликовано 15.04.2022 г.
                            h1.fw-bold.lh-1.mb-3.mt-5.pb-2(style='border-bottom: 1px solid #CCCCCC;font-size:2rem;') Архив
                            .link-block
                                a(href="documents/pravila3.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Правила инвестиционной платформы (редакция 3)
                                .sub опубликовано 15.04.2022 г.
                            .link-block
                                a(href="documents/balance.pdf?#zoom=85&scrollbar=1&toolbar=1&navpanes=1").link Бухгалтерский баланс
                                .sub опубликовано 15.04.2022 г.
    .my-divider
    include components/footer
    include components/cookieAlert