doctype html
head(itemscope itemtype="http://schema.org/WPHeader")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(itemprop="description", name='description', content='Автоматизированная платформа кредитования и крауд-инвестиций')
    meta(itemprop="author" name='author', content='Удалтон инвестиции')
    meta(itemprop="keywords" name='keywords', content='инвестиционная платформа,' +
    ' краудфандинг,' +
    ' краудлендинг,' +
    ' краудлэндинг,' +
    ' crowdfunding,' +
    ' crowdlending,' +
    ' кредит для бизнеса,' +
    ' кредит для малого бизнеса,' +
    ' кредит на развитие бизнеса,' +
    ' банки бизнес кредит,' +
    ' кредит на открытие бизнеса,' +
    ' кредит на бизнес с нуля,' +
    ' кредит под бизнес,' +
    ' дать в долг с процентами,' +
    ' инвестированный,' +
    ' инвестировать,' +
    ' куда инвестировать,' +
    ' инвестировать средства,' +
    ' инвестировать капитал,' +
    ' стоит ли инвестировать,' +
    ' куда инвестировать в 2022')
    title(itemprop="headline") Удалтон / Вопросы
    script(src='../assets/dist/main.js')
    link(href='assets/features.css', rel='stylesheet')
    include components/metric
main
    include components/menu
    .banner-short.text-white
        .container.px-4.py-5.z9
    .light-block-long
        .light-block-long2
            .light-block-long3.px-5
                .container.py-5(style='text-align: justify;')
                    .row.pb-5
                        //.col-lg-6
                        h1.fw-bold.lh-1.mb-3.pb-2(style='border-bottom: 1px solid #ccc;font-size:1.5rem;') О нас
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Что такое УДАЛТОН?
                            p.sub2 "УДАЛТОН" - ведущая онлайн-платформа для финансирования и инвестирования в недвижимость. Мы работаем по всей России. УДАЛТОН способствует предоставлению займов под залог недвижимости малым и средним предприятиям, позволяя инвесторам получать прибыль, вкладывая средства в эти займы через онлайн-платформу.
                            p.sub2 Наша цель - сделать финансирование и инвестирование в недвижимость доступным для любого человека в любой точке России. Наша талантливая команда профессионалов стремится к росту как на деловом, так и на личном уровне. Наши основные ценности - это решительность и смелость. Мы практикуем эмпатию и честность на каждом шагу.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 В чем заключается наша миссия?
                            p.sub2 Миссия УДАЛТОН заключается в предоставлении финансирования недвижимости и инвестиционных решений юридическим лицам по всей России через единую онлайн-платформу.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Каковы преимущества инвестирования через УДАЛТОН?
                            p.sub2 УДАЛТОН облегчает инвесторам доступ к различным инвестициям в займы под залог недвижимости при относительно небольшом объеме капитала. Минимальная сумма инвестиций составляет 1 000 рублей, что позволяет инвесторам создать диверсифицированный портфель. Все займы обеспечены залогом недвижимости. Хотя любая форма инвестиций сопряжена с определенным риском, мы снижаем этот риск для наших инвесторов путем проведения тщательной комплексной проверки и предоставления залога недвижимости по каждому займу на случай, если заемщик не сможет погасить займ.
                        //.col-lg-6
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Кто наши клиенты?
                            p.sub2 УДАЛТОН финансирует проекты, имеющие солидный залог, используя ипотечные кредиты первого ранга, чтобы добиться простого и надежного финансирования в сфере кредитования недвижимости. Эта модель особенно полезна для предпринимателей, которые испытывают трудности с "единой для всех" политикой банков, и дает каждому возможность инвестировать средства по средней процентной ставке 20%. В настоящее время заемщики и объекты недвижимости находятся в разных субъектах Российской Федерации. 100% заемщиков УДАЛТОН являются малыми и средними предприятиями.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Какие правила применяются к УДАЛТОН?
                            p.sub2 УДАЛТОН регулируется Банком России. Компания включена в Реестр инвестиционных платформ России (в апреле 2022 года).
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Как правильно отправить запрос в службу поддержки?
                            p.sub2 Пожалуйста, опишите проблему как можно точнее и яснее. Таким образом, нам не придется задавать дополнительные вопросы, и мы сможем сразу же приступить к решению запроса. Если вы пишете нам о технической проблеме, мы будем очень признательны за скриншот экрана с сообщением об ошибке. Если вы хотите узнать о сделанном депозите, пожалуйста, приложите платежное поручение, если это возможно.
                            p.sub2 Если вы отправляете нам документ или изображение, пожалуйста, убедитесь, что качество документа хорошее и в нем есть вся необходимая информация.
                            p.sub2 Официальным каналом обратной связи нашей службы поддержки клиентов является электронная почта: info@udalton.ru. Пожалуйста, имейте в виду, что мы не можем предоставить вам информацию о счете или кредите через другие каналы.
    .my-divider
    .light-block-long
        .light-block-long2
            .light-block3.px-5
                .container.py-5(style='text-align: justify;')
                    .row.pb-5
                        //.col-lg-6
                        h1.fw-bold.lh-1.pb-2(style='border-bottom: 1px solid #ccc;font-size:1.5rem;') Настройки учетной записи и отчетность
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Кто может инвестировать в УДАЛТОН?
                            p.sub2 Физические лица, индивидуальные предприниматели и юридические лица.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Как начать инвестировать в УДАЛТОН?
                            p.sub2 Сначала вам нужно зарегистрироваться в качестве инвестора на нашей платформе. Пройти процедуру идентификации клиента (в соответствии с положениями ФЗ-115).
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Какова минимальная сумма инвестирования?
                            p.sub2 Минимальная сумма инвестирования составляет 1 000 рублей.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Что делать, если у меня возникли проблемы при регистрации или работе на платформе?
                            p.sub2 Если вы не получили письмо с подтверждением регистрации, сначала проверьте папку со спамом. В большинстве случаев вы найдете сообщение там.
                                | Если у вас возникли проблемы с получением SMS, сделайте следующее: попробуйте перезагрузить телефон, подождите 15 секунд, а затем повторите попытку. Также проверьте, разрешено ли в настройках получение звонков и сообщений, или A2P-сообщений, из приложений. Если вы действительно не получили письмо или SMS, пожалуйста, отправьте нам сообщение на info@udalton.ru.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Как изменить данные своей учётной записи?
                            p.sub2 Для того чтобы изменить данные вашей учетной записи, такие как e-mail или номер телефона, пожалуйста, войдите в ваш профиль и измените их в разделе контакты.
                                | Для других изменений, например имени, пожалуйста, отправьте запрос в службу поддержки УДАЛТОН по адресу info@udalton.ru с копией вашего удостоверения личности и новым именем, и мы поможем вам обновить ваши данные. Пожалуйста, отправьте запрос с адреса электронной почты, который связан с вашим аккаунтом УДАЛТОН.
                        //.col-lg-6
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Срок действия документа, используемого для подтверждения моей личности, истек. Что теперь произойдет?
                            p.sub2 Мы отправим вам несколько напоминаний о том, что срок действия вашего документа истекает. Без действующего документа действие вашей учетной записи будет приостановлено. В период приостановления вы все еще можете получить доступ к своей учетной записи, однако вы не можете совершать какие-либо инвестиции или перемещать средства. Как только новый документ будет загружен и проверен, ваш счет будет восстановлен. Все ваши инвестиции и средства находятся в безопасности и сохранности.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Можно ли инвестировать от имени компании (юридического лица)?
                            p.sub2 Да. Вам необходимо создать учетную запись инвестора - юридического лица. Обратите внимание, что в соответствии с правилами инвестиционной платформы Вы должны быть руководителем компании (единоличным исполнительным органом).
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Могу ли я иметь несколько счетов?
                            p.sub2 Да, вам разрешено иметь несколько счетов, личных или рабочих, но каждый счет должен быть зарегистрирован на другой адрес электронной почты. Вам запрещено использовать свой собственный реферальный код при регистрации новой учётной записи.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Я хочу архивировать свою учетную запись, как я могу это сделать?
                            p.sub2 Мы можем вручную архивировать вашу учетную запись, если у вас нет текущих кредитов или свободных средств. Пожалуйста, отправьте запрос в службу поддержки УДАЛТОН по адресу info@udalton.ru
    .my-divider
    .light-block-long
        .light-block-long2
            .light-block-long3.px-5
                .container.py-5(style='text-align: justify;')
                    .row.pb-5
                        //.col-lg-6
                        h1.fw-bold.lh-1.pb-2(style='border-bottom: 1px solid #ccc;font-size:1.5rem;') Инвестиции и риски
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Как обеспечены мои инвестиции?
                            p.sub2 Все займы УДАЛТОН обеспечены залогом недвижимости. Кроме этого займы также могут быть дополнительно обеспечены поручительством учредителей и руководителя Заемщика.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 В чем разница между обеспеченным и необеспеченным кредитованием и почему обеспеченное кредитование лучше?
                            p.sub2 Необеспеченный кредит - это кредит, который не имеет никакого залога, такого как земля или недвижимость и основан исключительно на кредитной истории заемщика и его потенциальной способности погасить кредит. Таким образом, риск потерять деньги сводится к минимуму.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Если все кредиты обеспечены, почему заемщики не обращаются в банки?
                            p.sub2 Банки следуют строгим правилам, которые не ориентированы на интересы заемщиков, и поэтому многие заявки на кредиты отклоняются банками. УДАЛТОН - небольшая и гибкая организация, которая готова помочь компаниям, которым банки отказали в финансировании, несмотря на убедительный бизнес-план и надежное обеспечение.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Является ли процентная ставка фиксированной?
                            p.sub2 Нет, процентная ставка, по которой заемщик погашает данный заём, устанавливается в заявке на размещение инвестиционного предложения и согласовывается   УДАЛТОН. При этом процентная ставка является фиксированной на протяжении всего срока действия договора инвестирования. График платежей и процентная ставка могут варьироваться в зависимости от типа займа.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Зарабатываю ли я проценты на средствах, которые я еще не инвестировал в займы?
                            p.sub2 Мы не выплачиваем проценты за свободные средства, расположенные на номинальном счете Оператора. Чтобы получить максимальную отдачу от использования нашей платформы, вы должны вкладывать свои деньги в открытые проекты.
                        //.col-lg-6
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Что рассчитывается по статье "зарезервированный" баланс?
                            p.sub2 Как только кредит переходит в статус "Привлечен", и инвестиции не перечислены на расчетный счет Заемщика, все соответствующие инвестиции отмечаются в портфелях инвесторов как "зарезервированные" средства.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Обязан ли я заплатить налог с процентов, которые я получаю?
                            p.sub2 Проценты, которые вы получаете от заемщиков, представляют собой ваш доход, из которого УДАЛТОН не вычитает какой-либо налог. Все проценты, полученные по кредитам, рассматриваются налоговыми органами как инвестиционный доход и, следовательно, облагаются подоходным налогом. УДАЛТОН не предоставляет консультации по вопросам налогообложения и рекомендует обратиться к местному налоговому консультанту за дополнительной информацией.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Что происходит, если заёмщик не может обслуживать кредит?
                            p.sub2 Мы проверяем каждого заемщика с целью оценка способности компании возвратить заем в срок. Мы проводим тщательное исследование истории заемщиков, их кредитоспособности и текущих обязательств. В случае необходимости нами также берётся во внимание бизнес-план заемщика и его финансовая отчетность. Как только заемщик задержит выплату, мы свяжемся с ним, чтобы выяснить причину задержки. В случае просрочки заемщик уплачивает штраф, указанный в правилах инвестиционной платформы.
                                | Когда заемщик сталкивается с финансовыми трудностями, мы постараемся найти оптимальное решение для обеих сторон. Если заемщик не может погасить займ, УДАЛТОН   содействует в реализации залогового имущества в соответствии с законодательством России.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Каковы комиссии для заемщиков и инвестором?
                            p.sub2 Владение инвестиционным счетом в УДАЛТОН и инвестирование является бесплатным. УДАЛТОН взимает комиссию в размере 3% от суммы инвестиций от Заемщика.
    .my-divider
    .light-block-long
        .light-block-long2
            .light-block3.px-5
                .container.py-5(style='text-align: justify;')
                    .row.pb-5
                        //.col-lg-6
                        h1.fw-bold.lh-1.pb-2(style='border-bottom: 1px solid #ccc;font-size:1.5rem;') Займы и заемщики
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Кто может подать заявку на получение займа и каковы основные условия?
                            p.sub2 Заявку на размещение инвестиционного предложения осуществляет зарегистрированный Заемщик.
                                | Мы рассматриваем заявку на привлечение займа и при необходимости запрашиваем дополнительную информацию или документацию. Для оценки и оформления заявки на кредит требуется примерно 2-3 дня, при условии, что предоставлены все документы. После окончательной экспертизы инвестиционное предложение будет размещена для инвестирования на платформе.
                                | Процесс синдикации может занять от нескольких минут до 30 дней. То, насколько быстро будет финансироваться проект, зависит, в основном, от привлекательности проекта.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Может ли заемщик погасить займ раньше срока?
                            p.sub2 Согласно правилам инвестиционной платформы право досрочного погашения устанавливается в оферте инвестиционного предложения.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Где хранятся деньги инвесторов?
                            p.sub2 Деньги инвесторов хранятся на номинальном счете Оператора. Номинальный счет защищен законодательно и на нем хранятся исключительно средства зарегистрированных инвесторов. Средства заемщиков или Оператора УДАЛТОН на номинальном счете не хранятся.
                        //.col-lg-6
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Как пополнить мой лицевой счет УДАЛТОН и какие способы оплаты принимаются?
                            p.sub2 Лицевой счет инвестора пополняется посредством функционала личного кабинета, при нажатии кнопки «пополнить» выставляется счет с реквизитами номинального счета Оператора УДАЛТОН. Обычно информация о зачислении отражается в личном кабинете сразу. Если у Вас есть какие-либо вопросы или проблемы по поводу пополнения и вывода средств, пожалуйста, обращайтесь к нам по электронной почте: info@udalton.ru, мы всегда поможем.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Я пополнил свой лицевой счет, но не могу сделать инвестиции?
                            p.sub2 Чтобы инвестировать на нашей платформе, ваш банковский счет должен быть верифицирован.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Как я могу изменить свой банковский счет?
                            p.sub2 Изменение банковского счета осуществляется посредством направления заявления на электронную почту info@udalton.ru.
                        .link-block
                            p
                                svg.bi(width='1em', height='1em', fill='white')
                                    use(xlink:href='bootstrap-icons.svg#chat-left-quote-fill')
                                    span.span-bold.mx-2 Я хочу снять средства со своего лицевого счета, как я могу это сделать?
                            p.sub2 Вывод средств осуществляется только на банковские счета, зарегистрированные и привязанные к вашей учетной записи УДАЛТОН. Для успешного снятия средств имя владельца банковского счета должно совпадать с именем пользователя УДАЛТОН. Это дополнительная меры для обеспечения безопасности ваших средств.

    .my-divider
    .container
    include components/footer
    include components/cookieAlert