doctype html
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Автоматизированная платформа кредитования и крауд-инвестиций')
    meta(name='author', content='Удалтон инвестиции')
    meta(name='generator', content='Hugo 0.101.0')
    title Удалтон / Инвесторам
main
    div(style="margin: 30px; padding: 30px; border: 1px solid #ccc; text-align:center;")
        p Браузер, который Вы используете не поддерживается нашей платформой.
        p Рекомендуем использовать &nbsp;
            a(href='https://www.google.com/chrome/') Google chrome &nbsp;
            span или &nbsp;
            a(href='https://browser.yandex.ru/') Яндекс браузер
