.position-fixed.bottom-0.end-0(style='z-index:11;width:330px;')
    .d-flex.justify-content-center.mx-4
        .toast.top-0.start-50(role='alert', aria-live='assertive', aria-atomic='true' style='margin: 0 0 20px 0;border-radius: 3px;' data-bs-autohide="false")
            .toast-body Наш сайт использует файлы cookies. Продолжая пользоваться сайтом, Вы соглашаетесь на обработку персональных данных в соответствии с&nbsp;
                a.meet-link(href="documents/personal_politics.pdf") политикой обработки персональных данных
                .mt-2.pt-2.border-top
                    button.btn.btn-secondary.btn-sm(type='button', data-bs-dismiss='toast' style='border-radius: 3px;') Принимаю