.container
    footer.d-flex.flex-wrap.justify-content-center.align-items-center.py-3.my-4(itemscope itemtype="http://schema.org/WPFooter")
        meta(itemprop="copyrightYear" content="2022")
        meta(itemprop="copyrightHolder" content="Удалтон Инвестиции")
        .col-md-4.d-flex.align-items-center.text-center
            a.mb-3.me-2.mb-md-0.text-muted.text-decoration-none.lh-1(href='/')
                img(alt="logo" src='assets/logomin.svg' width='40')
            span.mb-3.mb-md-0.text-muted(style='font-size:14px;padding-top:7px;line-height:15px;') &copy; 2022 УДАЛТОН<br/> инвестиции
        .col-md-4.d-flex.align-items-center.text-center.p-3
            a(href="https://www.cbr.ru/finorg/foinfo/?ogrn=1211800019133" target="_blank" style='font-size:14px;padding-top:7px;line-height:15px;').mb-3.mb-md-0.text-muted Платформа состоит в Реестре операторов инвестиционных платформ ЦБ РФ
        ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex.text-center
            li.m-1
                a(href="https://t.me/udalton" target="_blank")
                    .tg
            li.m-1
                a(href="https://vk.com/udalton" target="_blank")
                    .vk